*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

.container{
  width: 1300px;
  margin: 0 auto;
}

/*BEGINNING OF TOP SECTION */
header{
  position: relative; /* for absolute children */
  height: 523px;
  background-image: url('https://i.ytimg.com/vi/Zv4U85z483c/maxresdefault.jpg');
  background-size:cover;
}


header:before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 96, 172, 0.6);
}

header h1, header h3{
  position: relative;
  text-align: center;
}

/*NAVIGATION BAR */

nav{
  display: inline-block;
  padding-top: 10px;
  position: relative;
}

nav ul{
  margin-left: 537px;
  display: inline-block;
  list-style: none;
  font-family: 'Oswald';
  text-transform: uppercase;
  line-height: 10px;
  position: relative;


}
nav a{
  color: black;
  text-decoration: none;
}

nav li{
  margin: 10px;
  font-size:18px;
  display: inline-block;

}
.main-nav img{
  height: 17px;
  position: relative;
  right: 11px;
  bottom: 19px;

}

.main-nav-one{
  position: relative;
  bottom: 19px;
  left: 5px;
}
.main-nav-two{
  position: relative;
  right: 3px;
  bottom: 19px;
}

/*BANNER - TOP LEFT*/
.brand{
  display: inline-block;
  padding-left: 140px;
}

.brand img{
  height: 47px;
}

.company-name{
  text-transform: uppercase;
  padding-left: 7px;
  position: relative;
  bottom: 19px;
  font-family: 'Open Sans';
}


/*HEADING SECTION-BANNER*/
h1{
  font-family: 'Myriad Pro';
  text-transform: uppercase;
  font-size: 110px;
  top: 52px;
  left: -2px;
  color: #FFFFFF;
  font-weight: 100;
}

h3{
  font-family: 'Open Sans';
  font-size: 15px;
  bottom: 48px;
}

/*BEGINNING OF MIDDLE SECTION*/
.middle-container{
  /*background-color: yellow;*/
}

/*LEFT COLUMN*/
.container-left{
  display: inline-block;
  /*background-color: lightgrey;*/
  width: 63%;
  /*border-bottom: 4px solid red;*/
}

/*TOP OF MIDDLE LEFT CONTAINER*/
.inside-top{
  /*background-color: pink;*/


}
.top-heading{
  /*background: lightgreen;*/
}
.top-heading h2{
  margin: 0;
  font-size: 62px;
  text-transform: uppercase;
  font-family: 'Oswald';
  line-height: 1.16;
  padding-top: 62px;
  padding-left: 161px;
}

ul li{
  display: inline-block;
  text-decoration: none;
  position: relative;
}

/*UNDER H2 MIDDLE SECTION*/
.by-who{
  margin: 0;
  position: relative;
  margin-left: 127px;
  margin-top: 4px;
}


.by-who img{
  position: relative;
  height: 23px;
  vertical-align: middle;
  bottom: 4px;
}

.by-who li{
  font-family: 'Open Sans';
  font-size: 13px
}
.am{
  padding-top: 5px;
  padding-left: 2px;
  color: #0066AA

}
.o{
padding-left: 9px;
color: #A5B6C0;
}
.mon{
color: #A5B6C0;
text-decoration: underline;
}

.inside-middle p{
color: #5D686F;
font-family: 'Open Sans';
font-size: 15px;
padding-left: 160px;
padding-right: 60px;
padding-top: 16px;
line-height: 26px;
}

.inside-middle a{
  color: #B8C5CE;
}
.inside-middle h2{
  text-transform: uppercase;
  font-family: 'Open Sans';
  margin: 0;
  font-size: 27px;
  margin-left: 167px;
  margin-top: 32px;
  color: #0073B4;
  padding-left: 17px;
  border-left: 3px solid #CDCDCD;
}

/*BOTTOM LEFT MIDDLE*/
.inside-bottom{
  /*background-color: lightblue;*/
}

.inside-bottom p{
  font-family: 'Open Sans';
  color: #5D686F;
  font-size: 15px;
  padding-left: 165px;
  padding-right: 50px;
  padding-top: 21px;
  line-height: 26px;
}
.rollover:hover{
  color: green;
}

.hlinks{
  position: relative;

}
.fa-book{
  font-size: 20px;
  background-color: #5D686F;
  color: white;
  margin-left: 122px;
  vertical-align: middle;
  padding: 6px;
  padding-right: 6px;
  padding-left: 11px;
  position: relative;
  top: -1px;
  left: 4px;
}

.re{
  background-color: #A2B3BE;
  font-size: 13px;
  font-family: 'Open Sans';
  position: relative;
  color: white;
  padding-top: 7px;
  padding-left: 11px;
  padding-right: 12px;
  padding-bottom: 7px;
}

.fa-clock-o{
  font-size: 20px;
  background-color: #5D686F;
  color: white;
  /*margin-left: 122px;*/
  vertical-align: middle;
  padding: 6px;
  padding-right: 6px;
  padding-left: 11px;
  position: relative;
  top: -1px;
  left: 4px;
}

.rl{
  background-color: #A2B3BE;
  font-size: 13px;
  font-family: 'Open Sans';
  position: relative;
  color: white;
  padding-top: 7px;
  padding-left: 11px;
  padding-right: 17px;
  padding-bottom: 7px;
}

.fa-share{
  font-size: 20px;
  background-color: #003451;
  color: white;
  /*margin-left: 122px;*/
  vertical-align: middle;
  padding: 6px;
  padding-right: 6px;
  padding-left: 11px;
  position: relative;
  top: -1px;
  left: 4px;
}

.share{
  background-color: #006DB0;
  font-size: 13px;
  font-family: 'Open Sans';
  position: relative;
  color: white;
  padding-top: 7px;
  padding-left: 11px;
  padding-right: 17px;
  padding-bottom: 7px;
}

/*RIGHT CONTENT*/

.container-right{
  display: inline-block;
  width: 37%;
  /*background-color: lightblue;*/
  float: right;
}
.container-right ul{
  margin: 0;
  font-size: 13px;
  margin-left: 47px;

}
.headshot2 {
  padding-left: 141px;
  padding-top: 83px;
}
.container-right h3{
  margin: 0;
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-size: 16px;
  padding-left: 135px;
  padding-top: 7px;
  color: #2078B5;

}
.t{
  font-family: 'Open Sans';
  color:#A2B3BE;
  font-size: 13px;

}
.f{
  font-family: 'Open Sans';
  padding-left: 10px;
  color: #A2B3BE;
  font-size: 13px;

}
.in{
  font-family: 'Open Sans';
  padding-left: 12px;
  color: #A2B3BE;
  font-size: 13px;

}
.girl{
padding-left: 43px;
padding-top: 54px;
}
.container-right a{
  display: block;
  font-family: 'Open Sans';
  font-size: 13px;
  padding-left: 234px;
  padding-top: 4px;
  color: #A2B3BE;
}
.container-right h4{
  font-family: 'Oswald';
  text-transform: uppercase;
  margin: 0;
  font-size: 18px;
  padding-left: 44px;
  padding-top: 45px;

}
.container-right p{
  font-family: 'Open Sans';
  margin: 0;
  font-size: 14px;
  padding-left: 42px;
  padding-right: 194px;
  padding-top: 6px;
  line-height: 1.7;
}


.mpp{
  /*background-color: orange;*/
  color: #003451;
  text-transform: uppercase;
  font-family:'Oswald';
  font-size: 63px;
  text-align: center;
  padding-top: 27px;
  margin-bottom: 0;

}


/*BOTTOM SECTION WITH PICTURES*/
.bottom{
  margin-top: 32px;
  padding: 0;
}


.bottom img{
  height: 332px;
  width: 322px;

}

.bottom ul{
  margin: 0;
}


.bottom li{
  position: relative; /* absolute pos child */
  float: left;
  height: 435px;
  width: 301px;
  background-size: cover;
}

.bottom li:before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 96, 172, 0.6);
}

.bottom li:hover:before{
  display: none;
}

.bottom li h2{
  position: absolute;
  bottom: 10px;
  font-size: 30px;
  font-family:'Oswald';
  text-transform: uppercase;
  color: white;
}

.fence{
  background-image: url(http://www.themominitiative.com/wp-content/uploads/2013/04/MP900430863.jpg);
}

.beers{
  background-image: url(http://www.thesandbarcapitola.com/wp-content/uploads/2015/11/beers.jpg);
}

.zach{
  background-image: url(https://img02.rl0.ru/afisha/560x-/s1.afisha.net/MediaStorage/a5175ff56e6c429387bc43cd5caa.jpg);
}

.another{
  background-image: url(https://static.pexels.com/photos/1022/sky-sunset-field-trees.jpg);
}

.clearfix:after{
  content: "";
  display: block;
  clear:both;
}




    /*FOOTER*/
.iron{
  background-color: #003451;
  color: #A2B3BE;
  /*position: relative;*/
  /*bottom: 35px;*/
  padding-left: 160px;
  line-height: 65px;
  /*margin-top: -14px;*/
}
.tiy{
  color: #A2B3BE;
  height: 35px;
  vertical-align: middle;
}
.company{
color: #A2B3BE;
font-family: 'Open Sans';
font-size: 13px;
padding-left: 10px;
}
.nav{
  display: inline-block;
  color: #A2B3BE;
  font-family: 'Open Sans';
  padding-left: 250px;
}
.nav-item-1{
  color: #A2B3BE;
  font-size: 13px;
  padding-left: 4px;
  position: relative;
  padding-right: 10px;
  border-right: 2px solid #A2B3BE;
  line-height: 13px;
}
.nav-item-2{
  color: #A2B3BE;
  font-size: 13px;
  padding-left: 2px;
  padding-right: 10px;
  border-right: 2px solid #A2B3BE;
  line-height: 13px;

}
.nav-item-3{
  color: #A2B3BE;
  font-size: 13px;
  padding-left: 3px;
  padding-right: 10px;
  border-right: 2px solid #A2B3BE;
  line-height: 13px;
}
.nav-item-4{
  color: #A2B3BE;
  font-size: 13px;
  padding-left: 3px;
}
a{
  color: #A2B3BE;

}
